*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #494949;
  }